@font-face {
  font-family: 'Cyntho Next';
  src: url('../fonts/CynthoNextRegular.otf') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cyntho Next';
  src: url('../fonts/CynthoNextThin.otf') format('woff2'); 
  font-weight: 100;
  font-style: normal;
}

body {
  font-family: 'Cyntho Next', sans-serif;
  margin: 0;
}



p {
  font-weight: normal; 
}



*, ::after, ::before {
    box-sizing:unset !important;
}

